* {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

.awesome,
.header,
.boxes,
.quote,
.footer-text,
.action-container {
  padding: 0 15vw;
}

.dark,
body {
  background-color: #1f2937;
  color: #e5e7eb;
}

section.dark {
  height: 25%;
}

section.white {
  height: 75%;
}

.grey {
  background-color: #e5e7eb;
}

.blue {
  background-color: #3882f6;
  color: #f9faf8;
}

header {
  padding: 3vh 0;
  display: flex;
  justify-content: flex-end;
}

.white {
  color: #1f2937;
  font-weight: lighter;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 2vw;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  margin-right: auto;
}

.awesome {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  column-gap: 4vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.awesome-left {
  flex: 1;
  margin-bottom: 5vh;
}

.awesome-right {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

img {
  background-color: #6f787cf6;
  font-size: small;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 90px;
  padding-right: 20px;
}

h1 {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 3px;
  min-width: 80px;
}

button.on-dark {
  border: 1px solid #3882f6;
  border-radius: 6px;
  margin-top: 1vh;
}

button.on-blue {
  border: 2px solid #f9faf8;
  border-radius: 8px;
}

.information-header {
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin: 4vh;
}

.box {
  border: 4px solid #3882f6;
  height: 140px;
  width: 140px;
  border-radius: 9px;
}

figcaption.white {
  font-weight: 295;
  width: 141px;
  text-align: center;
  margin-bottom: 6vh;
}

.boxes {
  display: flex;
  justify-content: center;
  column-gap: 4vw;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  padding: 8vw 2vw 0 2vw;
}

.quote-author {
  text-align: end;
  font-size: larger;
  font-weight: bold;
  padding: 1vh 17vw 8vh 15vw;
}

h3 {
  color: #f9faf8;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-wrapper {
  margin-top: 5vw;
  margin-bottom: 5vw;
  border: 1px solid #3882f6;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 4vh 8vh;
}

.action-text {
  color: #e5e7eb;
  flex: 3;
  font-size: 1.05em;
}

.action-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-blue {
  width: 50%;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
